$header-height: 60px;
$menu-margin: 15px;


/***  These are some throwaway classes until we have more real stuff in their place ***/	
.red-text {
	color: red;	
}

.thumbnail {
	height: 56px;
	width: 56px;
	border: 1px solid black;
}

/* Start of real classes */

body {
	overflow: auto;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

.clickable {
	cursor: pointer;
}

.divider {
	border-bottom: 2px solid silver;
	margin-right: 15px !important;
	margin-left: 5px;
	margin-bottom: 5px;
}


.nav-container {
	border-width: 1px;
	border-style: solid;
	border-color: rgba(121, 121, 121, 1);
	border-radius: 0px;
	margin-left: 0px !important;
	padding-left: 0px !important;
	height: $header-height;
	position: fixed;
	top: 0px;
	z-index: 1000;
	background: white;
	
	.logo {
		width: 57%;
	}

	.navbar-brand {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
}

#landing-page {
	margin-top: 15px;
	margin-left: 15px;
}


.container-fluid {
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

#summary-page {
	max-width: 1150px;
	position: relative;
	margin: auto;

	.btn-primary {
		background-color: #008ea8;
	}

	#patient-select-wrapper {
		padding: 10px;
		position: fixed;
		top: 60px;
		z-index: 1000;
		background: white;
		width: 100%;

		.patient-select {
			width: 230px;
			margin-right: 10px;
		}

		p {
			color: rgb(51, 51, 51);
			font-family: "Arial";
			font-feature-settings: "kern";
			font-kerning: normal;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			letter-spacing: normal;
			line-height: 15.4333px;
			text-align: left;
			text-decoration: none;
			text-decoration-color: rgb(51, 51, 51);
			text-decoration-line: none;
			text-decoration-style: solid;
			text-rendering: optimizelegibility;
			text-transform: none;
			white-space: nowrap;
		}
	}

	#summary-content-wrapper {
		margin-top: 160px;
		z-index: 0;
	}

	.light-border {
		border: 1px solid rgba(212, 212, 212, 1);
		border-radius: 5px;
		padding: 18px;
		margin: 0px 15px;

		p {
			color: rgb(51, 51, 51);
			font-family: "ArialMT", "Arial";
			font-feature-settings: "kern";
			font-kerning: normal;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			letter-spacing: normal;
			line-height: 16.45px;
			overflow-wrap: break-word;
			text-align: left;
			text-decoration: none;
			text-decoration-color: rgb(51, 51, 51);
			text-decoration-style: solid;
			text-rendering: optimizelegibility;
			text-transform: none;
		}

		p.center {
			text-align: center;
		}
	}

	.row-summary-question {
		background: #283C5E;
		font-size: x-large;
		color: white;
		padding: 12px 10px;
	}

	.row-summary-process {
		img {
			max-width: 591px;
			margin: auto;
		}
	}

	.row-summary-steps {
		img {
			max-width: 152px;
			margin: auto;
		}

		.light-border {
			margin: 0px 35px;
		}
	}

	.row-summary-info {
		margin: 25px 30px 15px 30px;
	}

	.row-summary-organ-images {
		text-align: center;
		margin: 25px 30px 15px;

		img {
			height: 275px;
			margin: auto;
		}
	}
}

#slide-viewer {
	padding-left: 15px;
	background-image: url("/img/fake-stain.jpg"); 
	height: calc(100vh - #{$header-height});
	width: 100vw;

	
	#side-menu {
		max-width: 32vw;
		margin: $menu-margin;
		min-height: calc(100vh - (#{$header-height} + #{$menu-margin} + #{$menu-margin}));

		#menu-bar {
			min-height: calc(100vh - (#{$header-height} + #{$menu-margin} + #{$menu-margin}));
			min-width: 2vw;
			border: 1px solid black;
			background: white;
			padding-top: 15px;

			a {
				display: block;
				width: 36px;
				height: 36px;
				text-align: center;
			}

			.btn-link {
				color: black;
			}
		}

		#menu-slide-list {
			background: white;
			border: 1px solid black;
			border-left: none;
						
			.menu-slide-list-header {
				background-color: lightgray;	
				padding-top: 5px;
				padding-bottom: 5px;
				border-bottom: 1px solid black;
			}
		
			#menu-slide-list-slides {
				padding-top: 15px;
				padding-bottom: 15px;
			}
		
			.slide-menu-item {
				padding-bottom: 10px;
			}
		
			.slide-name {
				display: table-cell;
				vertical-align: middle;
				line-height: 56px;	
			}

			.prev-next-buttons {
				padding: 15px;
				max-width: 300px;
				margin: auto;

				.btn {
					margin: 0 auto 0 auto;
				}
			}

			.btn-slide-nav {
				margin-right: 10px;
			}
		}
	}

}


