.nav-container {
  border-width: 1px;
  border-style: solid;
  border-color: #797979;
  border-radius: 0px;
  margin-left: 0px !important;
  padding-left: 0px !important;
  height: 60px; }
  .nav-container .logo {
    width: 57%; }
  .nav-container .navbar-brand {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }

.patient-select {
  width: 230px;
  margin-right: 10px; }

#landing-page {
  margin-top: 15px;
  margin-left: 15px; }
