$header-height: 60px;
$menu-margin: 15px;

body {
	overflow: hidden;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

.nav-container {
	border-width: 1px;
	border-style: solid;
	border-color: rgba(121, 121, 121, 1);
	border-radius: 0px;
	margin-left: 0px !important;
	padding-left: 0px !important;
	height: $header-height;
	
	.logo {
		width: 57%;
	}

	.navbar-brand {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
}

.patient-select {
	width: 230px;
	margin-right: 10px;
}

#landing-page {
	margin-top: 15px;
	margin-left: 15px;
}


.container-fluid {
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

#slide-viewer {
	padding-left: 15px;
	background-image: url("/img/fake-stain.jpg"); 
	height: calc(100vh - #{$header-height});
	width: 100vw;
	
	.red-text {
		color: red;	
	}
	
	#side-menu {
		max-width: 32vw;
		background: white;
		border: 1px solid black;
		margin: $menu-margin;
		min-height: calc(100vh - (#{$header-height} + #{$menu-margin} + #{$menu-margin}));

		#menu-bar {
			min-height: calc(100vh - (#{$header-height} + #{$menu-margin} + #{$menu-margin}));
			min-width: 2vw;
			border-right: 1px solid black;
			padding-top: 15px;

			a {
				display: block;
				width: 36px;
				height: 36px;
				text-align: center;
			}

			.home {
				font-family: FontAwesome;
				content: "\f105";
			}
		}
	}

}
