@import "common-values.scss";

.bm-burger-button {
  position: fixed;
  width: 45px;
  height: 45px;
  left: calc(#{$standard-padding + $standard-padding + $menu-button-width});
  top: calc(#{$header-height + $standard-padding});
  background-color: white;
  border-radius: 50%;
  filter: drop-shadow(3px 4px 2px gray);
  
  svg {
  	width: $menu-button-width !important;
  	height: 30px !important;
  	margin-top: 8px;
  	margin-left: 4px;
  }
  
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: white;
}

.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-overlay {
  background: white;
}

.bm-item-list {
  color: black;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-bars {
	background: black;
	
}

// Old styles from the original menu, leaving them here so we can adjust as needed in the next card

#side-menu {
	max-width: 32vw;
	margin: $menu-margin;
	min-height: calc(100vh - (#{$header-height} + #{$menu-margin} + #{$menu-margin}));
	z-index: 1000;
	position: relative;

	#menu-bar {
		min-height: calc(100vh - (#{$header-height} + #{$menu-margin} + #{$menu-margin}));
		min-width: 2vw;
		border: 1px solid black;
		background: white;
		padding-top: 15px;

		a {
			display: block;
			width: 36px;
			height: 36px;
			text-align: center;
		}

		.btn-link {
			color: black;
		}
	}

	#menu-slide-list {
		background: white;
		border: 1px solid black;
		border-left: none;

		.menu-slide-list-header {
			background-color: lightgray;	
			padding-top: 5px;
			padding-bottom: 5px;
			border-bottom: 1px solid black;
		}
	
		#menu-slide-list-slides {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	
		.slide-menu-item {
			padding-bottom: 10px;
		}
	
		.slide-name {
			display: table-cell;
			vertical-align: middle;
			line-height: 56px;	
		}

		.prev-next-buttons {
			margin: 15px auto;
			max-width: 350px;
			text-align: center;

			.btn {
				margin: 0px 5px;

			}
		}

		.btn-slide-nav {
			margin-right: 10px;
		}

		.slide-highlighted {
			background-color: lightgray;
		}
		
		#slide-stain-text {
			.slide-name-stain-text {
				padding-top: 10px;
				padding-bottom: 15px;
				font-weight: 700;
				font-size: 16px;
			}
			
			.stain-title {
				font-weight: 700;
				font-size: 18px;
			}
			
			.stain-description {
				a {
					text-decoration: underline;
					color: #0275D8;
				}
			}
		}
	}
}